body{
    background-color: #EAF6F6;
}
h1,h3{
    color:#66BFBF;
}
hr{
  
    border-width: 5px;
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    width:5%;
}
table{
    text-align: left;
    padding: 20;
}
